<?xml version="1.0"?>
<tryton>
    <data>
        <record model="ir.ui.view" id="harvest_config_view_form">
            <field name="model">harvest.config</field>
            <field name="type">form</field>
            <field name="name">harvest_config_form</field>            
        </record>
        
                  
        <record model="ir.action.act_window" id="act_harvest_config">
            <field name="name">Harvest Configuration</field>
            <field name="res_model">harvest.config</field>
        </record>

        <record model="ir.model.access" id="access_harvest_config_admin">
            <field name="model" search="[('model', '=', 'harvest.config')]"/>
            <field name="group" ref="group_harvest_admin"/>
            <field name="perm_read" eval="True"/>
            <field name="perm_write" eval="True"/>
            <field name="perm_create" eval="True"/>
            <field name="perm_delete" eval="True"/>
        </record>

        <menuitem id="menu_harvest_config" parent="menu_data_harvest"
                  action="act_harvest_config" />

        <record model="ir.ui.menu-res.group" id="menu_harvest_config_admin">
            <field name="menu" ref="menu_harvest_config"/>
            <field name="group" ref="group_harvest_admin"/>
        </record>

        
    </data>
</tryton>
